.Header {
    grid-column: 1 / -1;
    background-color: #F6F6F7;
    height: 4rem;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.Wrapper {
    grid-column: 3 / -3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media only screen and (max-width: 950px) {
    .Wrapper {
        grid-column: 2 / -2;
    }
}

@media only screen and (max-width: 600px) {
    .Wrapper {
        grid-column: 1 / -1;
        margin: 0 1.5rem;
    }


}